@charset "utf-8";

body {
    font: 16px/1.5 'Maven Pro', 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

a, a:link {
    color: inherit;
    text-decoration: none;
}

.blind {
    display: none;
}

.header_wrap {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: linear-gradient( to top, #000 40%,rgb(122, 122, 122) )
}

.inner_header {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #fff;
}

.logo {
    width: 200px;
    height: 40px;
}

#gnb {
    width: 600px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#gnb > li {
    width: 100px;
    height: 40px;
}

.lnb {
    display: none;
}

.hero {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

.arti_wrap {
    width: 1240px;
    margin: 0 auto;
}

hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0;
}

hgroup h2 {
    margin-right: 20px;
    font-size: 1.725rem;
    text-transform: uppercase;
    position: relative;
}

hgroup h2::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background: #000;
    top: 34%;
    right: -11px;
    transform: rotate(45deg);
}

hgroup h3 {
    font-size: 1.5rem;
}

.story_box {
    position: relative;
    height: 470px;
}

.story_box img {
    width: 600px;
    height: 600px;
    position: absolute;
    top: -130px;
    left: 50%;
    transform: translateX(-50%);
}

.story_box p {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.125rem;
}