@charset "utf-8";

body {
    font: 16px/1.5 'Maven Pro', 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    background: #f1f0ea;
}

a, a:link {
    color: inherit;
    text-decoration: none;
}

.blind {
    display: none;
}

.header_wrap {
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: linear-gradient( to top, #000 40%,rgb(122, 122, 122) )
}

.inner_header {
    width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #fff;
}

.logo {
    width: 200px;
    height: 40px;
}

#gnb {
    width: 600px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#gnb > li {
    width: 100px;
    height: 40px;
}

.lnb {
    display: none;
}

.hero {
    width: 100%;
    height: 550px;
    overflow: hidden;
}

hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0;
    font-weight: bold;
}

hgroup h2 {
    margin-right: 20px;
    font-size: 1.725rem;
    text-transform: uppercase;
    position: relative;
}

hgroup h2::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 16px;
    background: #000;
    top: 34%;
    right: -11px;
    transform: translateY(-34%);
    transform: rotate(45deg);
}

hgroup h3 {
    font-size: 1.5rem;
}

.story_box {
    position: relative;
    height: 470px;
    margin: 0 auto;
}

.story_box img {
    width: 600px;
    height: 600px;
    position: absolute;
    top: -160px;
    left: 50%;
    transform: translateX(-50%);
}

.story_box p {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.125rem;
}

.oneday {
    width: 100%;
    height: 700px;
    position: relative;
}

.oneday_img {
    width: 960px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    z-index: 99;
}

.oneday_box {
    width: 780px;
    height: 400px;
    position: absolute;
    left: 70%;
    transform: translateX(-70%);
    top: 200px;
    background: #e6e5e0;
}

.oneday_text {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-60%, -50%);
    text-transform: uppercase;
}

.oneday_text h3 {
    font-size: 1.188rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.oneday_text p {
    margin: 10px 0;
}

.oneday_more {
    padding: 15px 15px;
    font-size: 2rem;
    background: none;
    border: none;
    position: absolute;
    right: -100px;
    cursor: pointer;
}

.lesson {
    width: 100%;
    height: 700px;
    position: relative;
}

.lesson_img {
    width: 960px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    right: 0;
    position: absolute;
    z-index: 99;
}

.lesson_box {
    width: 780px;
    height: 400px;
    position: absolute;
    right: 70%;
    transform: translateX(70%);
    top: 200px;
    background: #f7f5dc;
}

.lesson_text {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-40%, -50%);
    text-transform: uppercase;
}

.lesson_text h3 {
    font-size: 1.188rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.lesson_text p {
    margin: 10px 0;
}

.lesson_more {
    padding: 15px 15px;
    font-size: 2rem;
    background: none;
    border: none;
    position: absolute;
    left: -100px;
    cursor: pointer;
    transform: scaleX(-1);
}

.banner {
    width: 100%;
    height: 460px;
    background: url("../images/bannerbg.jpg") no-repeat center / cover;
    background-attachment: fixed;
    position: relative;
    margin-top: 50px;
}

.ba_text {
    width: 1240px;
    text-align: center;
    color: #fff;
    font-size: 1.250rem;
    text-shadow: 1px 1px 2px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ba_text p:nth-child(2) {
    font-size: 1.125rem;
    margin-top: 20px;
}

.restauration {
    width: 100%;
    height: 600px;
    position: relative;
}

.re_img {
    width: 960px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    z-index: 99;
}

.re_box {
    width: 780px;
    height: 400px;
    position: absolute;
    left: 70%;
    transform: translateX(-70%);
    top: 200px;
    background: #dfddc5;
}

.re_text {
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-60%, -50%);
    text-transform: uppercase;
}

.re_text h3 {
    font-size: 1.188rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.re_text p {
    margin: 10px 0;
}

.re_commission {
    padding: 15px 15px;
    font-size: 2rem;
    background: none;
    border: none;
    position: absolute;
    right: -100px;
    cursor: pointer;
}

.gallery {
    width: 100%;
    height: 510px;
    position: relative;
    margin-bottom: 150px;
}

.gallery_upper {
    width: 1560px;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.gallery_down {
    width: 1560px;
    position: absolute;
    left: 0;
    top: 260px;
    display: flex;
    justify-content: space-between;
}

.footer_wrap {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
}

.notice {
    width: 30%;
    text-transform: uppercase;
}

.notice h2 {
    font-weight: bold;
}

.notice_list {
    font-size: 0.813rem;
    margin: 10px 0 0 20px;
    position: relative;
}

.notice_list::before{
    content: "";
    width: 2px;
    height: 69px;
    background: #000;
    position: absolute;
    top: 50%;
    left: -2%;
    transform: translate(2%, -50%);
}

.sns {
    width: 30%;
}

.sns_list {
    font-size: 1.125rem;
    display: flex;
}

.sns_list li {
    margin-right: 10px;
}

.info {
    width: 30%;
}


